@font-face {
  font-family: 'ArialEcofont'; 
  src: url('../fonts/ArialEcofont-Italic.ttf'); 
  font-weight: normal;
  font-style: normal
}

.header {
    width: 100%;
    height: 80px;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
}

.log {
    width: 35%;
    height: 80px;
    background-color: #181818;
    float: left;
}

.log p {
    font-family: 'ArialEcofont', sans-serif;
    font-size: 48px;
    color: white;
    position: absolute;
    left: 74px;
    top: -36px;
}


.header_search{
    width: 39%;
    height: 80px;
    float: left;
}

.search_input {
    background-color: #181818;
    color: #FFFFFF;
    border: 1px solid #444444;
    border-radius: 5px;
    width: 705px;
    height: 52%;
    top: 18px;
    left: 458px;
    position: absolute;
    float: left;
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 60%;
    height: 80px;
}

.top_menu {
    list-style: none;
}

.top_menu li {
	float: left;
    margin-left: 99px;
    margin-top: -8px;
}

.top_menu li a {
    text-decoration: none;
    
}

.top_menu li a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 175px;
    background-color: #1b1b1b;
    color: white;
    padding: 20px 0;
    box-sizing: border-box; /* Чтобы padding не увеличивал высоту */
}

.block_1{
    width: 40%;
    float: left;
    height: 150px;
}

.block_2{
    width: 60%;
    float: left;
    height: 150px;
}

.block_1 h1{
    position: absolute;
    font-size: 17px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.block_1 p {
    /* margin-top: -26px; */
    /* top: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 17px;
    padding-left: 20px;
    line-height: 13px; /*Интервал между текстом*/
}

.block_2 h1{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    list-style: none;
    margin-left: -40px;
}

.info li a {
    text-decoration: none;
}

.info li a p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}


.catalog {
    width: 310px;
    height: 617px;
    background-color: #181818;
    position: absolute;
    left: 35px;
    top: 106px;
}


.catalog_menu li {
    margin: 0;                 
    padding: 10px 15px;      
    border-bottom: 1px solid rgba(255,255,255,0.2); 
    cursor: pointer; /* Курсор руки */
}

.catalog_menu li a {
    text-decoration: none;
}

.catalog_menu li a p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-align: left;
    margin-top: 25px;
}

.catalog_menu {
    list-style-type: none; 
    padding-left: 0;       
    color: white;         
    width: 100%;           
    float: left;           
    font-family: Arial, sans-serif; 
}

.catalog h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*---CARDS---*/
.cards {
    position: absolute;
    width: 79%; 
    left: 22%; 
    top: 100px; 
    padding: 20px;
    box-sizing: border-box;
    margin-top: -20px;
    display: flex; 
    flex-wrap: wrap; /* Разрешаем перенос на новую строку */
    gap: 18px; /* Задаем отступы между карточками */
}

.card {
    width: 200px;
    height: 295px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    padding: 15px;
    box-sizing: border-box;
}

.card img {
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    display: block; 
    border-radius: 10px;
}


.bluz {
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;
}

.bluzli_cont {
    display: flex;           /* Включаем Flexbox */
    flex-wrap: wrap;         /* Разрешаем перенос на новую строку */
    justify-content: center; /* Центрирование карточек */
    gap: 75px;              /* Расстояние между карточками */
}

.product_card {
    width: calc(50% - 37.5px); /* Каждая карточка занимает половину ширины */
    max-width: 200px;          /* Ограничение максимальной ширины */
    margin-bottom: 75px;       /* Расстояние между рядами */
}

.product_image {
    width: 200px; /* одинаковая ширина для всех изображений */
    height: 200px; /* одинаковая высота для всех изображений */
    object-fit: cover; /* чтобы изображение сохраняло пропорции и заполняло рамку */
    border-radius: 8px; 
}
.product_name {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 8px;
}

.product_price {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #ccc;
    margin-top: 4px;
}
.bruki {
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;
}

.bruki_cont {
    display: flex;           /* Включаем Flexbox */
    flex-wrap: wrap;         /* Разрешаем перенос на новую строку */
    justify-content: center; /* Центрирование карточек */
    gap: 75px;              /* Расстояние между карточками */
}

.jinsi {
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;
}

.jinsi_cont {
    display: flex;           /* Включаем Flexbox */
    flex-wrap: wrap;         /* Разрешаем перенос на новую строку */
    justify-content: center; /* Центрирование карточек */
    gap: 75px;              /* Расстояние между карточками */
}

.longs {
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;
}

.longs_cont {
    display: flex;           /* Включаем Flexbox */
    flex-wrap: wrap;         /* Разрешаем перенос на новую строку */
    justify-content: center; /* Центрирование карточек */
    gap: 75px;              /* Расстояние между карточками */
}

.maiki_topi {
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;
}

.maiki_topi_cont {
    display: flex;           /* Включаем Flexbox */
    flex-wrap: wrap;         /* Разрешаем перенос на новую строку */
    justify-content: center; /* Центрирование карточек */
    gap: 75px;              /* Расстояние между карточками */
}

.platia{
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;
}

.platia_cont {
    display: flex;           /* Включаем Flexbox */
    flex-wrap: wrap;         /* Разрешаем перенос на новую строку */
    justify-content: center; /* Центрирование карточек */
    gap: 75px;              /* Расстояние между карточками */
}

.ybki{
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;

}

.ybki_cont{
    display: flex;          
    flex-wrap: wrap;         
    justify-content: center;
    gap: 75px;           
}

.nazv{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 800px;
    top: 84px;
}

.block_reg{
    height: 500px;
    width: 700px;
    background-color: black;
    position: absolute;
    left: 545px;
    top: 187px;
    border-radius: 10px;
}

input[name="email"],
input[name="passw"],
input[name="passw_pow"] {
    width: 445px;
    height: 54px;
    margin-left: 130px;
    border-radius: 8px;
    margin-top: 45px;
}

input[name="email"]:hover,
input[name="passw"]:hover,
input[name="passw_pow"]:hover {
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

button[type="submit"] {
    width: 445px;
    height: 54px;
    margin-left: 130px;
    border-radius: 8px;
    margin-top: 45px;
}

button[type="submit"]:hover{
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);

}

.cont_name{
    position: absolute;
    top: 64px;
    float: left;
}

.cont_name h1{
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    width: 494px;
    height: 440px;
    background-color: white;
    position: absolute;
    border-radius: 14px;
    top: 143px;
    float: left;
    border-style:solid ;
    border-color: #000000;
    
}

.contact p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* position: absolute; */
    /* left: 20px; */
    /* margin-top: 5px; */
    margin: 10px;

}

.contact h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px; 
}


.hydi {
    width: 100%;
    height: 750px;
    background-color: #181818;
    position: absolute;
    left: 120px;
    top: 106px;
}

.hydi_cont {
    display: flex;           /* Включаем Flexbox */
    flex-wrap: wrap;         /* Разрешаем перенос на новую строку */
    justify-content: center; /* Центрирование карточек */
    gap: 75px;              /* Расстояние между карточками */
}