.header {
    width: 100%;
    height: 80px;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
}

.log {
    width: 23%;
    height: 80px;
    background-color: #0c0c0c;
    float: left;
}

.header_search{
    width: 45%;
    height: 80px;
    float: left;
}

